services:
  hestia:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    image: ${IMAGE_NAME}
    container_name: ${CONTAINER_NAME}
    ports:
      - "${VITE_API_SERVER_PORT}:${VITE_API_SERVER_PORT}"
    env_file:
      - ../.env
    environment:
      - NODE_ENV=production
      - PORT=${VITE_API_SERVER_PORT}
      - DB_HOST=${DB_HOST}
    restart: unless-stopped